.adalabers-card {
  margin-bottom: 45px;
  font-family: $fontText;
  font-size: 1rem; /* 16px */
}

/* container for a responsive img */
.card-image-container {
  margin: 0 auto;
  max-width: 180px;
  max-height: 180px;
  overflow: hidden; /* review */
  position: relative;
}

.card-image {
  display: block;
  width: 100%;
  border: solid 5px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  transition: visibility ease 0.5s;
}

/* hover effects */

.character-image {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  border: solid 5px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  transition: visibility ease 0.5s, opacity ease 0.5s;
}

.card-image-container:hover .card-image {
  visibility: hidden;
}

.card-image-container:hover .character-image {
  visibility: visible;
  opacity: 1;
}

/* end hover effects */

.card-info-container {
  width: 100%;
  margin: 0 auto;
}

.card-name {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 2.25;
  font-weight: normal;
  color: $colorAdalabersName;
}

.card-text {
  color: $colorText;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-top: 0;
  padding: 0 10px;
}

.card-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.card-link {
  color: black;
  text-decoration: none;
}

/* icons style and cosmetics*/

.fab,
.fas {
  color: $backgroundLogo;
  font-size: 1rem; /* 16px */
}

.fab::after {
  content: "·";
  color: $colorText;
  padding: 5px;
}

@media all and (min-width: 768px) {
  .adalabers-card {
    margin: 0 30px 60px 30px;
  }

  .card-wrapper {
    display: flex;
    align-items: center;
  }

  .card-reverse {
    flex-direction: row-reverse;
  }

  .card-image-container {
    margin: 0 auto;
    max-width: 205px;
    max-height: 205px;
  }

  /* NEW flex container */
  .card-info-container {
    text-align: left;
    margin-left: 30px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .card-name {
    margin-top: 0;
  }

  .info-reverse {
    margin-right: 30px;
    margin-left: 0;
    text-align: right;
    justify-content: flex-end;
  }

  .card-list {
    margin: 0;
  }
}

@media all and (min-width: 1200px) {
  /* ADALABERS media */
  .adalabers-card {
    margin-bottom: 60px;
  }

  .card-wrapper {
    justify-content: center;
  }

  .card-image-container {
    margin: 0 auto;
    max-width: 278px;
    max-height: 278px;
  }

  .card-info-container {
    text-align: left;
    margin-left: 45px;
  }

  .info-reverse {
    text-align: right;
  }
}
