<section id="about" class="about">
  <div class="adalabers-wrapper">
    <div class="about-text">
      <h1 class="about-title">Equipo</h1>
      <p>
        En Codeflix puedes encontrar una selección de Adalabers originales que
        no te puedes perder.
      </p>
      <p>
        Hemos cambiado las maratones de series por las maratones de código, y
        ahora pasamos más tiempo buscando en StackOverflow que en el catálogo de
        Netflix. Seguir viendo...
      </p>
    </div>
  </div>
</section>
