<section class="adalabers">
  <div class="codeflix-wrapper">
    <div class="adalabers__grid">
      <h2 class="adalabers__grid--title">
        <span id="adalabers"></span>Quiénes somos
      </h2>
      <!-- card starts: ALICIA COLOM -->
      <include
        src="./card.html"
        gridItem="adalabers__grid--item1"
        cardReverse=""
        imgSrc="./assets/images/alicia-colom.jpg"
        imgAlt="Fotografía de Alicia Colom"
        imgTitle="La adalaber Alicia Colom"
        characterImgSrc="./assets/images/alicia-colom_monica-geller.jpg"
        characterImgAlt="Fotografía de Monica Geller"
        characterImgTitle="Su alter ego, Monica Geller"
        infoReverse=""
        name="Alicia Colom"
        date="Año de estreno: 1986."
        description=" Nacida para la multitarea, algo mandona, y con
            ese gen loco por el orden, nuestra protagonista Mónica -digo...- Alicia parte del mundo
            de los eventos. Pero en plena treintena, su afán de superación y no poder estar quieta
            ni un minuto, le hizo cambiar su profesión hacia la programación. El camino será
            desternillante, con momentos disparatados y muchas alegrías."
        twitterLink="https://twitter.com/aliciacolom"
        linkedinLink="https://www.linkedin.com/in/aliciacolomortega"
        githubLink="https://github.com/alicia-colom"
        email="aliciacolom@gmail.com"
        webLink="http://alicia-colom.github.io/series-finder/"
      ></include>
      <!-- card ends -->
      <!-- card starts: EVA FERRERAS -->
      <include
        src="./card.html"
        gridItem="adalabers__grid--item2"
        cardReverse="card-reverse"
        imgSrc="./assets/images/eva-ferreras.jpg"
        imgAlt="Fotografía de Eva Ferreras"
        imgTitle="La adalaber Eva Ferreras"
        characterImgSrc="./assets/images/eva-ferreras_louise-banks.jpg"
        characterImgAlt="Fotografía de Louise Banks"
        characterImgTitle="Su alter ego, Louise Banks"
        infoReverse="info-reverse"
        name="Eva Ferreras"
        date="Año de estreno: 1992. "
        description=" Decide estudiar periodismo porque quiere
            aprender a contar lo que ve y relaciones internacionales porque quiere entender el mundo
            en el que vive. No habiéndolo conseguido, decide probar con otras formas de
            comunicación. Al igual que la doctora Louise Banks, se enfrenta al reto de aprender el
            lenguaje de los invasores para averiguar si vienen en son de paz."
        twitterLink="https://twitter.com/beyonce"
        linkedinLink="https://www.linkedin.com/in/evaferrerasbr/"
        githubLink="https://github.com/evaferrerasbr"
        email="evaferrerasbr@gmail.com"
        webLink="https://evaferrerasbr.github.io/series-finder/"
      >
      </include>
      <!-- card ends -->
      <!-- card starts: ANA GUERRA -->
      <include
        src="./card.html"
        gridItem="adalabers__grid--item3"
        cardReverse=""
        imgSrc="./assets/images/ana-guerra.jpg"
        imgAlt="Fotografía de Ana Guerra"
        imgTitle="La adalaber Ana Guerra"
        characterImgSrc="./assets/images/ana-guerra_jess-day.jpg"
        characterImgAlt="Fotografía de Jess Day"
        characterImgTitle="Su alter ego, Jess Day"
        infoReverse=""
        name="Ana Guerra"
        date="Año de estreno: 1982. "
        description=" Who's that girl??? Tras meses de incertidumbre
            sobre su futuro dentro del sector turístico tecnológico, una conversación inesperada
            hace que Adalab se cruce en el camino de Ana. Con determinación afronta el reto y con la
            misma motivación que Jess no duda un segundo en mudarse a vivir con sus nuevos amigos
            HTML, CSS, JavaScript y React nada más conocerlos."
        twitterLink="https://twitter.com/anaguerraabaroa"
        linkedinLink="https://www.linkedin.com/in/ana-guerra-abaroa-7827011b6/"
        githubLink="https://github.com/anaguerraabaroa"
        email="ana.guerra.abaroa@gmail.com"
        webLink="https://anaguerraabaroa.github.io/javascript-codeflix-shows-search/"
      >
      </include>
      <!-- card ends -->
      <!-- card starts: LEIRE ORDEÑANA-->
      <include
        src="./card.html"
        gridItem="adalabers__grid--item4"
        cardReverse="card-reverse"
        imgSrc="./assets/images/leire-ordenana.jpg"
        imgAlt="Fotografía de Leire Ordeñana"
        imgTitle="La adalaber Leire Ordeñana"
        characterImgSrc="./assets/images/leire-ordenana_dana-scully.jpg"
        characterImgAlt="Fotografía de Dana Scully"
        characterImgTitle="Su alter ego, Dana Scully"
        infoReverse="info-reverse"
        name="Leire Ordeñana"
        date="Año de estreno: 1988. "
        description="Todo comenzó como es ella: con una exhaustiva
            investigación. El interés que le despertó la programación pronto le hizo descubrir
            Adalab, un mundo que le hizo dejar atrás la arquitectura técnica. Ahí espera construir,
            creer y entregarse como lo hacía Scully. ¿Podrá desenmascarar la conspiración detrás de
            incontables líneas de código? I want to be-Git."
        twitterLink="https://twitter.com/risingdana"
        linkedinLink="https://www.linkedin.com/in/leire-orde%C3%B1ana-madina-6b093659"
        githubLink="https://github.com/leireomadina"
        email="leireomadina@gmail.com"
        webLink="https://leireomadina.github.io/codeflix-tv-series-finder/"
      >
      </include>
      <!-- card ends -->
      <!-- card starts: PATRICIA POVEDA -->
      <include
        src="./card.html"
        gridItem="adalabers__grid--item5"
        cardReverse=""
        imgSrc="./assets/images/patricia-poveda.jpg"
        imgAlt="Fotografía de Patricia Poveda"
        imgTitle="La adalaber Patricia Poveda"
        characterImgSrc="./assets/images/patricia-poveda_sarah-connor.jpg"
        characterImgAlt="Fotografía de Sarah Connor"
        characterImgTitle="Su alter ego, Sarah Connor"
        infoReverse=""
        name="Patricia Poveda"
        date="Año de estreno: 1983. "
        description="Años después de haber terminado la carrera de
            Filología Clásica y de muchos años de docencia, Patricia Poveda solo podía ver un futuro
            profesional apocalíptico. Para impedir que se haga realidad, decide apuntarse al
            Bootcamp de adalab y así, poder programar a las máquinas y salvar el futuro. ¿Podrá
            nuestra heroína salvar al mundo de Skynet?"
        twitterLink="https://twitter.com/PatukaPoveda"
        linkedinLink="https://www.linkedin.com/in/patricia-poveda-9b1b761b5/"
        githubLink="https://github.com/PatriciaPoveda"
        email="patriciapovedaboto@gmail.com"
        webLink="https://patriciapoveda.github.io/Buscador-de-series-Codeflix/"
      >
      </include>
      <!-- card ends -->
    </div>
  </div>
</section>
