<article class="adalabers-card">
  <div class="card-wrapper @@cardReverse">
    <div class="card-image-container">
      <img src="@@imgSrc" alt="@@imgAlt" class="card-image" />
    </div>
    <div class="card-info-container @@infoReverse">
      <h3 class="card-name">@@name</h3>
      <p class="card-text"><strong>@@date</strong>@@description</p>
      <ul class="card-list">
        <li lass="card-item">
          <a href="@@twitterLink" class="card-link" target="_blank" title="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li lass="card-item">
          <a href="@@linkedinLink" class="card-link" target="_blank" title="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li lass="card-item">
          <a href="@@githubLink" class="card-link" target="_blank" title="GitHub">
            <i class="fab fa-github-alt"></i>
          </a>
        </li>
        <li lass="card-item">
          <a href="mailto: @@email" class="card-link" target="_blank" title="Mail">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</article>
