<footer class="footer">
  <div class="footer__item footer__copyright">
    <p>Codeflix &#169; 2020</p>
  </div>
  <nav class="footer__item footer__menu">
    <ul class="footer__menu--list">
      <li>
        <a
          class="links"
          href="./index.html#about"
          alt="Link a la sección Equipo"
          title="Vuelve a la sección Equipo"
          >Equipo</a
        >
      </li>
      <li>
        <a
          class="links"
          href="./index.html#adalabers"
          alt="Link a la sección Quiénes somos"
          title="Vuelve a la sección Quiénes somos"
          >Quiénes somos
        </a>
      </li>
      <li>
        <a
          class="links"
          href="./contact.html"
          alt="Link a la página de contacto"
          title="Visita nuestra página de contacto"
          target="_blank"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <img
    class="footer__image"
    src="./assets/images/adalab_brand.png"
    alt="Logo de Adalab"
    title="Logo de Adalab"
  />
</footer>
