<footer class="footer">
  <div class="footer-copyright">
    <p>Codeflix &#169; 2020</p>
  </div>
  <nav class="footer-menu">
    <ul class="footer-list">
      <li>
        <a href="./index.html#about">Equipo </a>
      </li>
      <li>
        <a href="./index.html#adalabers">Quiénes somos </a>
      </li>
      <li>
        <a href="contact.html">Contacto</a>
      </li>
    </ul>
  </nav>
  <div class="footer-image">
    <img
      class="footer-logo"
      src="./assets/images/adalab_brand.png"
      alt="Logo de Adalab"
    />
  </div>
</footer>
