<header>
  <div class="header-main">
    <div class="header-team-name">
      <a href="index.html">
        <img
          class="logo"
          src="https://fontmeme.com/permalink/200909/84165089e106b0066fa661862435c23b.png"
          alt="logo Codeflix"
        />
      </a>
    </div>
    <nav>
      <ul class="header-list">
        <li class="list-item">
          <a class="link" href="#about">Equipo</a>
        </li>
        <li class="list-item">
          <a class="link" href="#adalabers">Quiénes somos</a>
        </li>
        <li class="list-item">
          <a class="link" href="#">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
