<header class="header">
    <div class="header__teamName">
      <a href="index.html">
        <img
          class="header__teamName--logo"
          src="https://fontmeme.com/permalink/200909/84165089e106b0066fa661862435c23b.png"
          alt="logo Codeflix"
        />
      </a>
    </div>
    <nav>
      <ul class="header__list">
        <li class="header__list--item">
          <a class="header__list--link" href="./index.html#about">Equipo</a>
        </li>
        <li class="header__list--item">
          <a class="header__list--link" href="./index.html#adalabers">Quiénes somos</a>
        </li>
        <li class="header__list--item">
          <a class="header__list--link" href="contact.html">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
