<header class="header">
    <div class="header__teamName">
      <a href="index.html" title="Ir a Home">
        <img
          class="header__teamName--logo"
          src="https://fontmeme.com/permalink/200909/84165089e106b0066fa661862435c23b.png"
          alt="logo Codeflix"
        />
      </a>
    </div>
    <nav>
      <ul class="header-list">
        <li class="header-list__item">
          <a class="header-list__link" href="./index.html#about" title="Ir a la sección Equipo">Equipo</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="./index.html#adalabers" title="Ir a la sección Quiénes somos">Quiénes somos</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="contact.html" title="Contacta con nosotras">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
