<section id="hero" class="hero">
  <div class="hero-main">
    <div class="hero-title">See what's next</div>
    <div class="hero-avatar-list">
      <div class="hero-avatar">
        <img
          class="hero-avatar-image"
          src="./assets/images/monica-geller_phone.jpg"
          alt="Avatar de Alicia Colom"
        />
        <div class="hero-avatar-name">Alicia</div>
      </div>
      <div class="hero-avatar">
        <img
          class="hero-avatar-image"
          src="./assets/images/jess-day_phone.jpg"
          alt="Avatar de Ana Guerra"
        />
        <div class="hero-avatar-name">Ana</div>
      </div>
      <div class="hero-avatar">
        <img
          class="hero-avatar-image"
          src="./assets/images/louise-banks_phone.jpg"
          alt="Avatar de Eva Ferreras"
        />
        <div class="hero-avatar-name">Eva</div>
      </div>
      <div class="hero-avatar">
        <img
          class="hero-avatar-image"
          src="./assets/images/dana-scully_phone.jpg"
          alt="Avatar de Leire Ordeñana"
        />
        <div class="hero-avatar-name">Leire</div>
      </div>
      <div class="hero-avatar">
        <img
          class="hero-avatar-image"
          src="./assets/images/sarah-connor_phone.jpg"
          alt="Avatar de Patricia Poveda"
        />
        <div class="hero-avatar-name">Patricia</div>
      </div>
    </div>
  </div>
</section>
