<div class="hero-main">
  <div class="hero-title">See what's next</div>
  <div class="hero-avatar-list">
    <div class="hero-avatar">
      <img
        class="hero-avatar-image"
        src="./assets/images/alicia-colom.jpg"
        alt="Avatar de Alicia Colom"
      />
      <div class="hero-avatar-name">Alicia</div>
    </div>
    <div class="hero-avatar">
      <img
        class="hero-avatar-image"
        src="./assets/images/ana-guerra.jpg"
        alt="Avatar de Ana Guerra"
      />
      <div class="hero-avatar-name">Ana</div>
    </div>
    <div class="hero-avatar">
      <img
        class="hero-avatar-image"
        src="./assets/images/eva-ferreras.jpg"
        alt="Avatar de Eva Ferreras"
      />
      <div class="hero-avatar-name">Eva</div>
    </div>
    <div class="hero-avatar">
      <img
        class="hero-avatar-image"
        src="./assets/images/leire-ordenana.jpg"
        alt="Avatar de Leire Ordeñana"
      />
      <div class="hero-avatar-name">Leire</div>
    </div>
    <div class="hero-avatar">
      <img
        class="hero-avatar-image"
        src="./assets/images/patricia-poveda.jpg"
        alt="Avatar de Patricia Poveda"
      />
      <div class="hero-avatar-name">Patricia</div>
    </div>
  </div>
</div>
<div class="hero-claim-box">
  <h1 class="hero-claim">Code and chill</h1>
</div>
