<section class="strengths-weaknesses-container">
  <div class="codeflix-wrapper">
    <div class="square"></div>
    <div class="strengths-weaknesses">
      <div>
        <h2 class="strengths-weaknesses-title">Fortalezas</h2>
        <p class="strengths-weaknesses-text">
          Habituadas a trabajar con herramientas digitales y con inquietudes por
          seguir formándonos, afrontamos esta nueva andadura profesional con el
          reto de llegar a programar como Richard Hendricks. Con valentía nos
          hemos tomado la pastilla roja de Matrix.
        </p>
      </div>
      <div>
        <h2 class="strengths-weaknesses-title">Debilidades</h2>
        <p class="strengths-weaknesses-text">
          Vernos como protagonistas de Contagio, y estar viviendo un capítulo de
          Black Mirror, nos ha lanzado a convertirnos en ADALABERS. Aunque la
          falta de experiencia pueda hacernos parecer la niña de El Exorcista,
          lo afrontamos tan motivadas como Peggy en Mad Men.
        </p>
      </div>
    </div>
  </div>
</section>
