/* COLORS */
$color-brand-1: #099d8d;
$color-brand-2: #14d9c4;
$color-brand-3: #54585a;
$color-brand-4: #b8b8b9;
$color-brand-5: #000000;
$color-brand-6: #ffffff;

/* FONTS */
$fontTitle: "Rubik", sans-serif;
$fontText: "Open Sans", sans-serif;
