/* COLORS */
$color-brand-1: #099d8d;
// $backgroundLogo: #099d8d;
// $colorStrengthsTitle: #099d8d;
// $colorAdalabersTitle: #099d8d;
// $colorContactTitle: #099d8d;
// $backgroundButton: #099d8d;
$color-brand-2: #14d9c4;
// $colorAboutTitle: #14d9c4;
// $backgroundMenu: #14d9c4;
$color-brand-3: #54585a;
// $colorText: #54585a;
// $colorFooterMenu: #54585a;
$color-brand-4: #b8b8b9;
// $backgroundStrengths: #b8b8b9;
// $colorCopyright: #b8b8b9;
$color-brand-5: #000000;
// $backgroundHero: #000000;
// $colorClaim: #000000;
// $colorAdalabersName: #000000;
$color-brand-6: #ffffff;
// $backgroundStandard: #ffffff;
// $colorFontHeader: #ffffff;
// $colorTextButton: #ffffff;

/* FONTS */

$fontTitle: "Rubik", sans-serif;
$fontText: "Open Sans", sans-serif;

/* **** */
