/* COLORS */

$backgroundLogo: #099d8d;

$backgroundMenu: #14d9c4;

$backgroundHero: #000000;

$backgroundStrengths: #b8b8b9;

$backgroundStandard: #ffffff;

$colorFontHeader: #ffffff;

$colorClaim: #000000;

$colorText: #54585a;

$colorAboutTitle: #14d9c4;

$colorStrengthsTitle: #099d8d;

$colorAdalabersTitle: #099d8d;

$colorContactTitle: #099d8d;

$colorAdalabersName: #000000;

$colorCopyright: #b8b8b9;

$colorFooterMenu: #54585a;

/* FONTS */

$fontTitle: "Rubik", sans-serif;

$fontText: "Open Sans", sans-serif;

/* **** */
