.about {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.about-title {
  font-size: 24px;
  font-family: "rubik";
  font-weight: 500;
  line-height: 45px;
  color: #14d9c4;
  text-transform: uppercase;
}
.about-text {
  font-family: "open sans";
  font-size: 16px;
  line-height: 24px;
  color: #54585a;
}

@media all and (min-width: 768px) {
  .about {
    margin: 45px 30px 60px 30px;
  }
}
@media all and (min-width: 1200px) {
  .about-text {
    margin: 0 30%;
  }
}
