.adalabers {
  text-align: center;
}

.codeflix-wrapper {
  margin: 0 15px;
}

.adalabers__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 105px repeat(5, 1fr);
  @media all and (min-width: 768px) {
    grid-template-rows: 131px repeat(5, 1fr);
  }
}

.adalabers__grid--title {
  grid-row: span 1;
  margin: 30px 0;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.88;
  color: $color-brand-1;
  position: relative;
  @media all and (min-width: 768px) {
    margin: 45px 0;
  }
}

h2 span {
  position: absolute;
  top: -125px;
  @media all and (min-width: 768px) {
    top: -75px;
  }
}

.adalabers__grid--item1,
.adalabers__grid--item2,
.adalabers__grid--item3,
.adalabers__grid--item4,
.adalabers__grid--item5 {
  grid-row: span 1;
}

@media all and (min-width: 768px) {
  /* ADALABERS media */

  .adalabers-title {
    margin: 45px 0;
  }
  h2 span {
    top: -75px;
  }
}

@media all and (min-width: 1200px) {
  .adalabers {
    max-width: 1000px;
    margin: 0 auto;
  }
}
