.footer {
  border-top: 1px solid #b8b8b9;
  width: 100%;
  font-family: $fontText;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copyright {
  height: 16px;
  color: $colorCopyright;
  margin: 30px 0 20px 0;
}

.footer__menu {
  height: 74px;
  color: $colorFooterMenu;
  line-height: 25px;
  font-weight: 600;
  opacity: 75%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px 0;
}

.footer__image {
  display: block;
  max-width: 115px;
  margin: 0 0 45px 0;
}

.links {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $colorContactTitle;
  }
}

@media all and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }

  .footer__copyright {
    margin: 30px auto 120px 45px;
  }

  .footer__menu {
    text-align: right;
    margin: 24px 45px 56px auto;
    line-height: 30px;
  }

  .footer__image {
    position: absolute;
    top: 50%;
    margin-left: 35px;
  }
}

@media all and (min-width: 1200px) {
  .footer__copyright {
    margin-left: 138px;
  }

  .footer__image {
    margin-left: 125px;
  }

  .footer__menu {
    margin-right: 138px;
  }
}
