.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-team-name {
  display: flex;
  justify-content: center;
  padding: 15px 80px;
  background-color: #099d8d;
  opacity: 95%;
}

.logo {
  height: 30px;
}

.header-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  background-color: #14d9c4;
  opacity: 90%;
  padding: 8px 2px 7px 16px;
}

.list-item {
  list-style-type: none;
}

.link {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2;
  color: #ffffff;
  padding-right: 15px;
}

.link:hover {
  background-color: #099d8d;
}

/************** TABLET mediaqueries ****************/
/* HEADER media */

@media all and (min-width: 768px) {
  .header-team-name {
    height: 60px;
    justify-content: flex-start;
    padding-left: 45px;
  }

  .header-list {
    position: relative;
    bottom: 60px;
    background-color: transparent;
    opacity: 95%;
    justify-content: flex-end;
    padding: 16px 27px 14px;
  }

  .link {
    padding-right: 18px;
  }
}

/* DESKTOP mediaqueries */

/* HEADER media */

@media all and (min-width: 1200px) {
  .header-team-name {
    padding-left: 142px;
  }

  .header-list {
    padding-right: 138px;
  }
}
